@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Josefin Sans',sans-serif;
}
body{
    background: rgb(255, 250, 241) ;
    height: 1440px;
    width: auto;
    
}
/* General styling for the scrollbar track */
::-webkit-scrollbar {
    width: 12px; 
}

/* Handle styling (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background-color: #cf0404;
    border-radius: 6px; 
}

/* Styling when hovering over the scrollbar */
::-webkit-scrollbar-thumb:hover {
    background-color: #cf0404; 
}

/* Track styling (the area on which the handle moves) */
::-webkit-scrollbar-track {
    background-color: rgb(255, 240, 215); 
}

/* Corner styling between vertical and horizontal scrollbars */
::-webkit-scrollbar-corner {
    background-color: rgb(255, 240, 215);
}
#logo{
  height: 120px;
}
.sidebar ul li a.active,a:hover{
    background: rgb(255, 250, 241);
    transition: 0.5s;
    color: white;
}
.wrapper{
    display: flex;
    position: relative;
}
.wrapper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: rgb(255, 237, 215);
    padding: 30px 0;
}
.wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
}
.wrapper .sidebar ul li a{
    color: #cf0404;
    display: block;
    padding: 7px 5px 7px;
}
.wrapper .sidebar ul li :hover{
    background: rgb(255, 250, 241);
}
.wrapper .main_content{
    width: 100%;
    margin-left: 200px;
}
.header{
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}
.header a{
    color: #1813a5;
}
.header a:hover{
    background-color: #fff;
}
.info{
    margin: 20px;
    color: #717171;
    line-height: 25px;

}
.lang_menu{
    float: right;
    margin-top: -7px;
    position: relative;
}
.selected_lang{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    line-height: 2;
    width: 100px;
}
.selected_lang:before{
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-image: url();
}
.lang_menu:hover ul{
    display: block;
}
.lang_menu ul{
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 30px;
    left: -15px;
    z-index: 100;
}
.lang_menu ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.lang_menu ul li a{
    width: 125px;
    display: block;
    padding: 1px 0px;
}
.lang_menu ul li a:before{
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    vertical-align: middle;
    background-image: url();
}
.lang_menu ul li a:hover{
    background-color: rgb(255, 237, 215);
    color: #cf0404;
}
.info{
    width: 1000px;
    height: 300px;
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 150px 150px;
}
.info div{
    position: relative;
    width: 490px;
    height: 140px;
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;
    color: #000000;
    font-size: 32px;
    padding: 10px 10px;
}
.info div section{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
    width: 490px;
    height: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.table-container {
    position: absolute;
    left: 200px;
    top: 100px;
    margin: 20px;
    overflow-x: auto;
  }
  
  #drivers-table {
    border-collapse: collapse;
    width: 1000px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #drivers-table th, #drivers-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  #drivers-table th {
    background-color: #d67729;
    color: #fff;
  }
  
  #drivers-table tbody tr:hover {
    background-color: #f5f5f5;
  }